<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/home/index.js" defer></script>
    <script src="/js/home/index.ctrl.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <table align="center">
      <tr>
        <td><h2>to do list</h2></td>
      </tr>
      <tr>
        <td><input type="text" id="text" /></td>
        <td>
          <a id="add">[예쁜 + 버튼]</a>
        </td>
      </tr>
      <tr>
        <td><hr /></td>
      </tr>
    </table>

    <!--나중에 수정하기 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
    <form id="list">
      <table align="center">
        <%for(let i = 0; i < data.length; i++){ %>
        <tr>
          <td>
            <center>
              <input type="checkbox" id="<%=data[i].id%>%>" name = "is_check" onClick="updateList(this)" <%= data[i].is_check ? '' : 'checked' %>/><%if(data[i].is_check){%><%=data[i].description%><%}%>
              <a id="<%=data[i].id%>%>">[수정]</a>
              <a id="<%=data[i].id%>" name="delete" onClick="deleteList(this)">
              [삭제]
              </button>
              <hr width="200px" />
            </center>
          </td>
        </tr>
        <%}%>
        <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
      </table>
    </form>
  </body>
</html>
